main{
    max-width: 1140px;
    margin: 0 auto;
}


header{
    background-image: url(/images/Hero-bg.png);
    height: 700px;
    
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}
nav h3{
    font-size: 34px;
    font-weight: bold;
    color: #4E47FF;
}

/* common style star */

.common-button{
    background-color: #4E47FF;
    padding: 12px 36px;
    border-radius: 5px;
    border: none;

}

button a{
    text-decoration: none;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: bold;

}

/* common style end */

/* Banner-Section */


.Banner-Section{
    text-align: center;
    margin-top: 150px;
}

.Banner-Section h2{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 30px;
}


/* Action Section Start */

.action-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 115px auto;
    gap: 155px;
}
.leftside{

}

.title{
    font-size: 42px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
    margin-bottom: 23px;
}

.subtitle{
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 23px;
}

.right-side img{
    border-radius: 50px;
}

/* Productive Users Section */


.productive-users-section{
    background-color:rgba(78, 71, 255, 0.1) ;
    text-align: center;
    border-radius: 25px;
}

.productive-users-title{
    font-size: 38px;
    color: rgba(37, 36, 50, 1);
    

}

.productive-users-section{
    padding: 50px 142px;
}

.three-data-with-subtitle{
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.data-title{
    font-size: 80px;
    color: rgba(78, 71, 255, 1);
    margin-top: 0px;
    margin-bottom: 0px;
}

.data-subtitle{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0px;
}